body{
        background-color: white;
    }
      
#timer {
      text-align: center;
      text-transform: uppercase;
      font-family: 'Courier', monospace;
      font-weight: bold;
      color: #454a37;
      font-size: .7em;
      letter-spacing: 5px;
}
    
.days, .hours, .minutes, .seconds {
      display: inline-block;
      padding: 20px;
      width: 100px;
      border-radius: 5px;
}
    
.days {
      background: #f1e0ce;
}
    
.hours {
      background: #9a6e58;
}
    
.minutes {
      background: #f1e0ce;
}
    
.seconds {
      background: #9a6e58;
}
    
.numbers {
      font-family: 'courier' monospace;
      font-weight: bold;
      color:  #65483b;
      font-size: 4.5em;
      text-align: center;
}
    
.white {
      position: absolute;
      background:  #eeeeee;
      height: 85px;
      width: 75px;
      left: 30%;
      top: 2%;
}
    
.red {
      position: absolute;
      left: 18%;
      top: 9%;
      height: 65px;
      width: 70px;
     
}
    
.blue {
      position: absolute;
      height: 80px;
      width: 80px;
      left: 60%;
      top: 5%;
}
